@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Manrope';
  src: url('/Manrope.ttf') format('truetype');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-manrope: 'Manrope', sans-serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
}